{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static "/css/courses.css" %}">

<a href="#">
    <div class="items-list">
        <h1>【花束】</h1>
        <div class="items">
            <img src="{% static "/images/flowers/flower_01.jpg" %}" alt="{課程} {客製} | 手綁捧花 {不凋材+乾燥材}">
            <p class="title">{課程} {客製} | 手綁捧花 {不凋材+乾燥材}</p>
            <p class="subtitle">{ 可依您喜歡的色系進行搭配 }<br>
        </div>
    </div>
</a>

<a href="#">
    <div class="items-list">
        <h1>【桌花/盆花/擺飾品】</h1>
        <div class="items">
            <img src="{% static "/images/tables/tables_01.jpg" %}" alt="{課程} {客製} | 手綁捧花 {不凋材+乾燥材}">
            <p class="title">{課程} {客製} | 手綁捧花 {不凋材+乾燥材}</p>
            <p class="subtitle">{ 可依您喜歡的色系進行搭配 }<br>
        </div>
    </div>
</a>

<a href="#">
    <div class="items-list">
        <h1>【婚禮系列商品】</h1>
        <div class="items">
            <img src="{% static "/images/weddings/weddings_01.jpg" %}" alt="{課程} {客製} | 手綁捧花 {不凋材+乾燥材}">
            <p class="title">{課程} {客製} | 手綁捧花 {不凋材+乾燥材}</p>
            <p class="subtitle">{ 可依您喜歡的色系進行搭配 }<br>
        </div>
    </div>
</a>

<a href="#">
    <div class="items-list">
        <h1>【原質感系列課程】</h1>
        <div class="items">
            <img src="{% static "/images/natures/natures_01.jpg" %}" alt="{課程} {客製} | 手綁捧花 {不凋材+乾燥材}">
            <p class="title">{課程} {客製} | 手綁捧花 {不凋材+乾燥材}</p>
            <p class="subtitle">{ 可依您喜歡的色系進行搭配 }<br>
        </div>
    </div>
</a>

<a href="#">
    <div class="items-list">
        <h1>【所有課程】</h1>
        <div class="items">
            <img src="{% static "/images/all.jpg" %}" alt="{課程} {客製} | 手綁捧花 {不凋材+乾燥材}">
            <p class="title">{課程} {客製} | 手綁捧花 {不凋材+乾燥材}</p>
            <p class="subtitle">{ 可依您喜歡的色系進行搭配 }<br>
        </div>
    </div>
</a>

{% endblock %}
